@import "style.css";

body{
    background-image: url(img/whtebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}
.backToMain {
    position: relative;
    top: 5px;
}
.price {
    padding-top: 55px;
}
.price h2{
    font-size: 30px;
}
.price li{
    font-weight: bold;
    margin-right: 20px;
    margin-top: 30px;
    padding-left: 25px;
    font-size: 14px;
    display: inline-block;
}
.noneSqr{
    padding-left: 0 !important;
}
.smallSqr {
    position: relative;
    color: #aba9a7;
}
.smallSqr::after {
    left:0;
    bottom:0;
    top: 0;
    margin: auto;
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    background: #000;
}
.manClassic {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}
.manClassic h1{
    line-height: 34px;
    font-size: 40px;
    position: relative;
}
.manClassic h1::before {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 160px;
    height: 2px;
    background: #000;
}
.manClassic h1::after {
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 160px;
    height: 2px;
    background: #000;
}
.bestchoise{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    width: 100%;
}
.bestchoise h2 {
    font-size: 24px;
}
.instruments {
    width: 380px;
}
.instruments ul{
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 14px;
    font-weight: bold;
}
.instruments li {
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 25px;
    list-style: none;
    position: relative;
}
.instruments li::before{
    left:0;
    bottom: 5px;
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    background: #000;
}
.priceTable {
    width:460px;
    padding-left: 100px;
}
table, tr, td {
    margin-top: 70px;
    border: 2px solid #000;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: bold;
}
table td {
    width: 230px;
    height: 40px;
}
.namePrice{
    padding-left: 20px;
}
.cost {
    text-align: center;
}
.fewWords {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}
.fewWords p {
    padding-top: 40px;
    font-size: 14px;
    font-weight: bold;
}
.fastWidthForP{
    width: 380px;
}
.fastFix{
    width: 560px;
    padding-left: 100px;
}
@media only screen and (min-width: 960px) and (max-width:1024px){
    .words, .fewWords, .bestchoise, .hyperlinks {
        padding-left: 10px;
    }
}
@media only screen and (max-width:959px){
    .hyperlinks{
        padding-left: 10px;
    }
    .words {
        text-align: center;
        margin: 35px 0;
    }
    .manClassic h1 {
        font-size: 27px;
    }
    .instruments , .priceTable {
        padding-left: 0;
        min-width: auto;
        width: 100%;

    }
    .instruments h2 , .priceTable h2{
        text-align: center;
    }
    table {
        margin: 35px auto;
    }
    .fewWords {
        margin: 35px auto;
    }
    .fewWords p {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .instruments ul {
        text-align: center;
    }
    .instruments ul li {
        display: inline-block;
    }

}
@media only screen and (max-width:768px){
    .manClassic h1::before , .manClassic h1::after {
        display: none;
    }
    table td {
        width: 100px;
        height: 40px;
    }
}
@media only screen and (max-width:425px) {
    h2 {
        font-size: 18px !important;
    }
    .price li{
        display: block;
        margin-left: 30px;
    }
    .price h2{
        padding-top: 25px;
    }
}
